.popup__close-button {
  position: absolute;
  background-color: transparent;
}

@media (min-width: 320px) {
  .popup__close-button {
    top: -32px;
    right: 0;
  }
}

@media (min-width: 768px) {
  .popup__close-button {
    top: -36px;
    right: -36px;
  }
}
